:root {
    /* --dark-purple: rgba(70, 39, 73, 1); */
    --darker-purple: #250E38;
    --dark-purple: #391A52;
    --light-purple: #4A2364;
    --alice-blue: rgba(225, 242, 254, 1);
    --gold: #FFD700;
    --blue: #00FFFF;
    --p: 1.3em;
    --h3: calc(1.20 * var(--p));/* 1.20x p */
    --h2: calc(1.83 * var(--p));/* 1.43x p */
    --h1: calc(2.3 * var(--p));/* 2.3x p */
    font-family: monospace;
}
@font-face {
    font-family: Space-explorer;
    src: url(SPACE\ EXPLORER.woff);
}

*{
    padding: 0;
    margin: 0;
    color: var(--alice-blue);
}

/* width */
*::-webkit-scrollbar {
    width: 3px;
    transition: 1s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    transition: 1s;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    transition: 1s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover{
    background: var(--gold);
  }


body{
    background: black;
    padding: 1%;
}

p{
    font-size: var(--p);
    word-wrap: break-word;
}

h3{
    font-size: var(--h3);
    color: var(--gold);
}

h2{
    font-size: var(--h2);
    color: var(--gold);
    font-family: Space-explorer;
}

h1{
    font-size: var(--h1);
    color: var(--gold);
    font-family: Space-explorer;
}

section{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-bottom: solid 1px var(--gold);
    border-right: solid 2px var(--gold);
    border-radius: 8px;
    padding: var(--p);
    box-sizing: border-box;
    background: linear-gradient(45deg, var(--gold) 10%, black 5%, black 90%,var(--gold) 90%);
}

section .right, section .left{
    aspect-ratio: 2.5;
    padding: var(--p);
}

.right{
    border-top: solid 1.5px var(--gold);
    border-left: solid 2px var(--gold);
    border-radius: 8px;
    background: #000;
}

.right a{
    color: var(--gold);
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.right a:hover{
    color:var(--blue);
}

#Hi{
    opacity: 0.75;
}

.title{
    width: 100%;
    height: fit-content;
    margin: auto;
    text-align: center;
    padding-bottom: var(--p);
}

.title span{
    display: inline-block;
    min-width: 300px;
    max-width: 100%;
    padding: var(--p);
    box-sizing: border-box;
}

.description{
    height: fit-content;
    margin: auto;
    padding: var(--p) 5%;
}

.description p{
    margin: auto;
    text-align: center;
    font-size: var(--h3);
}

.links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: var(--p);
}

.links button{
    display: inline-block;
    min-height: var(--h1);
    background: none;
    border: var(--gold) solid 2px;
    border-radius: 8px;
}

.links button:hover{
    border: var(--blue) solid 2px;
    scale: 1.1;
    cursor: pointer;
}

.links button a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.separator{
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--gold);
}

.image{
    display: block;
    width: 95%;
    height: 100%;    
    box-sizing: border-box;
    margin: auto;
}

.image img {
    object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}